
*{
    margin: 0; padding: 0;
}
.container{
    width: 70%; margin: auto; text-align: center;
}
.image{
    text-align: center;display: inline-block;
    padding: 10px; image-orientation: top;
}
body{
    background-color: #880900;
}
h1{
    margin: 30px;
    text-shadow: 5px 0 white;
    font-size: 6rem;
    color: #f6b93b
}
p{
    margin: 0px;
    color: #f6b93b;
    text-shadow: 3px 0 white;
    font-size: 3rem;
}
button{
    padding: 20px;
    background-color: black;
    color: white;
    border:solid;
    margin: 10px;
}
img{
    width: 70%;
    border-style:groove;
    border-color: black;
    border-spacing: 5px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    
}
label{
    position: relative; left: 10px;drop-initial-size: 10%;
}
input{
    width: 90px; position: left
    absolute;
}